
ClassProject_Safari/.vs/MyApplication/v17/.futdcache.v2
ClassProject_Safari/.vs/ProjectEvaluation/myapplication.metadata.v7.bin
ClassProject_Safari/.vs/ProjectEvaluation/myapplication.projects.v7.bin
.vs
obj
bin
bin
bin
obj
bin
obj
ClassProject_Safari/Dtat/obj/project.nuget.cache
ClassProject_Safari/Dtat/obj/project.nuget.cache
ClassProject_Safari/Dtat/obj/project.assets.json
ClassProject_Safari/Dtat/obj/Dtat.csproj.nuget.g.props
ClassProject_Safari/Dtat/obj/Dtat.csproj.nuget.dgspec.json
ClassProject_Safari/Dtat/obj/Debug/net6.0/Dtat.pdb
ClassProject_Safari/Dtat/obj/Debug/net6.0/Dtat.dll
ClassProject_Safari/Dtat/obj/Debug/net6.0/Dtat.csproj.CoreCompileInputs.cache
ClassProject_Safari/Dtat/obj/Debug/net6.0/Dtat.assets.cache
