
ClassProject_Safari/.vs/MyApplication/v17/.futdcache.v2
ClassProject_Safari/.vs/ProjectEvaluation/myapplication.metadata.v7.bin
ClassProject_Safari/.vs/ProjectEvaluation/myapplication.projects.v7.bin
.vs
obj/
bin/
ClassProject_Safari/Dtat/obj/Debug/net6.0/Dtat.csproj.FileListAbsolute.txt
ClassProject_Safari/Dtat/obj/Debug/net6.0/Dtat.csproj.FileListAbsolute.txt
ClassProject_Safari/Dtat/obj/Debug/net6.0/Dtat.csproj.FileListAbsolute.txt
ClassProject_Safari/Dtat/obj/Debug/net6.0/Dtat.dll
ClassProject_Safari/Dtat/obj/Debug/net6.0/Dtat.pdb
